<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sección 9 de 29 - Country SPA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Sección 9 de 29 - Country SPA</h1>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a href="./index.html" class="list-group-item list-group-item-action">
                        Volver
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <section class="container">
            <h3>Sección 107 de 404 - Introducción a la sección</h3>
            
        </section>
        <hr>

        <section class="container">
            <h3>Sección 108 de 404 - Temas puntuales de la sección</h3>
            
        </section>
        <hr>

        <section class="container">
            <h3>Sección 109 de 404 - Demostración de la sección</h3>
            
        </section>
        <hr>

        <section class="container">
            <h3>Sección 110 de 404 - Inicio del proyecto - CountryApp</h3>
            <pre class="prettyprint">
            
                > ng new countryApp
                > ng g m countries
                > ng g m shared
            </pre>
        </section>
        <hr>

        <section class="container">
            <h3>Sección 111 de 404 - Router Module y Páginas - SPA</h3>
            <pre class="prettyprint">
            
                > ng g c shared/pages/homePage
                > ng g c shared/pages/aboutPage

            </pre>

            <pre class="prettyprint">
            
                // app-routing.module.ts

                const routes: Routes = [
                    {
                        path: 'home',
                        component: HomePageComponent
                    },
                    {
                        path: 'about',
                        component: AboutPageComponent
                    },
                    {
                        path: '**',
                        redirectTo: 'home'
                    }
                ];
                
                @NgModule({
                    imports: [RouterModule.forRoot(routes)],
                    exports: [RouterModule]
                })
                export class AppRoutingModule { }
            </pre>
        </section>
        <hr>

        <section class="container">
            <h3>Sección 112 de 404 - RouterLink y RouterLinkOptions</h3>
            <pre class="prettyprint">
            
                > ng g c shared/components/sidebar
                > ng g c shared/pages/contactPage
            </pre>
        </section>
        <hr>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 113 de 404 - Resolución de la tarea</h2>
            <pre class="prettyprint">
                
                // sidebar

                &lth2>Países&lt/h2>
                &lthr>
                
                &ltul class="list-group">
                    &lta  routerLink="home" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="list-group-item">
                        Home Page
                    &lt/a>
                    &lta  routerLink="about" 
                        routerLinkActive="active"
                        class="list-group-item">
                        About Page
                    &lt/a>
                    &lta  routerLink="contact" 
                        routerLinkActive="active"
                        class="list-group-item">
                        Contact Page
                    &lt/a>
                &lt/ul>
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 114 de 404 - Countries Routing App</h2>
            <pre class="prettyprint">
                    
                > ng g c countries/pages/byCapitalPage
                > ng g c countries/pages/byCountryPage
                > ng g c countries/pages/byRegionPage
                > ng g c countries/pages/CountryPage
            </pre>

            <pre class="prettyprint">
                    
                // countries-routing.module.ts

                const routes: Routes = [
                  {
                    path: 'by-capital',
                    component: ByCapitalPageComponent
                  },
                  {
                    path: 'by-country',
                    component: ByCountryPageComponent
                  },
                  {
                    path: 'by-region',
                    component: ByRegionPageComponent
                  },
                  {
                    path: 'by/:id',
                    component: CountryPageComponent
                  },
                ]
                
                @NgModule({
                  imports: [RouterModule.forChild(routes)],
                  exports: [RouterModule]
                })
                export class CountriesRoutingModule { }
                
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 115 de 404 - LazyLoad - Carga Perezosa</h2>
            <pre class="prettyprint">
                    
                // app-routing.module.ts

                {
                    path: 'countries',
                    loadChildren: () => import('./countries/countries.module').then(m => m.CountriesModule)
                },
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 116 de 404 - Estructura de páginas y SearchBoxComponent</h2>
            <pre class="prettyprint">
                    
                > ng g c shared/components/search-box
            </pre>

            <pre class="prettyprint">
                    
                // app-routing.module.ts

                {
                    path: '**',
                    redirectTo: 'countries'
                }

                // countries-routing.module.ts

                {
                    path: '**',
                    redirectTo: 'by-capital'
                },

                // by-capital-page.component.html

                &ltshared-search-box placeholder="Buscar por capital">&lt/shared-search-box>

                // search-box.component.ts

                @Input()
                public placeholder: string = ''

                // search-box.component.html

                &ltinput type="text" class="form-control" [placeholder]="placeholder">
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 117 de 404 - Funcionamiento del SearchBox</h2>
            <pre class="prettyprint">
                    
                // by-capital-page.component.ts

                searchByCapital( term: string ): void {
                    console.info('Desde ByCapitalPage')
                    console.log({ term })
                }

                // by-capital-page.component.html

                &ltshared-search-box
                    (onValue)="searchByCapital( $event )"
                    placeholder="Buscar por capital">&lt/shared-search-box>

                // search-box.component.ts

                @Output()
                public onValue = new EventEmitter&ltstring>()
              
                emitValue( value: string ): void {
                  this.onValue.emit(value)
                }

                // search-box.component.html

                &ltinput
                    type="text"
                    class="form-control"
                    [placeholder]="placeholder"
                    (keyup.enter)="emitValue( txtInput.value )"
                    #txtInput
                    >
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 118 de 404 - Countries Service</h2>
            <a href="https://restcountries.com/#endpoints-capital-city" target="_blank" rel="noopener noreferrer">https://restcountries.com/#endpoints-capital-city</a>
            <p>
                https://restcountries.com/v3.1/capital/{capital}
            </p>

            <p>Hacer las interfaces...</p>

            <pre class="prettyprint">
                    
                > ng g s countries/services/countries

                getCapital(term: string): Observable&ltCountry[]> {
                    const url = `${ this.apiUrl }/capital/${ term }`
                    return this.http.get&ltCountry[]>(url)
                }
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 119 de 404 - Mostrar los países en pantalla</h2>
            <pre class="prettyprint">
                    
                // by-capital-page.component.ts

                searchByCapital( term: string ): void {
                    console.info('Desde ByCapitalPage')
                    console.log({ term })
                    this.countriesService.getCapital( term )
                      .subscribe({
                        next: (response) => {
                          console.log({response})
                          this.countries = response
                        }
                      })
                  }

                // by-capital-page.component.html

                &ltul class="list-group">
                    &ltli class="list-group-item" *ngFor="let country of countries">
                    {{ country.capital }}
                    &lt/li>
                &lt/ul>
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 120 de 404 - CountryTable Component</h2>
            <pre class="prettyprint">
                    
                > ng g c countries/components/countryTable
            </pre>

            <pre class="prettyprint">

                // country-table.component.ts
                    
                @Input()
                public countries: Country[] = []

                // country-table.component.html

                &ltdiv
                *ngIf="countries.length === 0; else table"
                class="alert alert-warning text-center">
                No hay paises que mostrar
              &lt/div>
              
              &ltng-template #table>
                &lttable class="table table-hover">
                  &ltthead>
                    &lttr>
                      &ltth>#&lt/th>
                      &ltth>Icon&lt/th>
                      &ltth>Bandera&lt/th>
                      &ltth>Nombre&lt/th>
                      &ltth>Capital&lt/th>
                      &ltth>Población&lt/th>
                      &ltth>&lt/th>
                    &lt/tr>
                  &lt/thead>
                  &lttbody>
                    &lttr *ngFor="let country of countries; let i = index">
                      &lttd>{{ i + 1 }}&lt/td>
                      &lttd>{{ country.flag }}&lt/td>
                      &lttd>
                        &ltimg [src]="country.flags.svg" [alt]="country.name.common">
                      &lt/td>
                      &lttd>{{ country.name.common }}&lt/td>
                      &lttd>{{ country.capital }}&lt/td>
                      &lttd>{{ country.population | number }}&lt/td>
                      &lttd>&lta href="#">Ver más&lt/a>&lt/td>
                    &lt/tr>
                  &lt/tbody>
                &lt/table>
              &lt/ng-template>

              // by-capital-page.component.html

              &ltcountries-table [countries]="countries">&lt/countries-table>
              
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 121 de 404 - CatchError - Manejo de errores de observables</h2>
            <pre class="prettyprint">

              // countries.service.ts
                    
              getCapital(term: string): Observable<Country[]> {
                const url = `${this.apiUrl}/capital/${term}`;
                return this.http.get&ltCountry[]>(url).pipe(catchError(() => of([])));
              }

            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 122 de 404 - Tarea - País y Región</h2>
            <pre class="prettyprint">
                    
              // countries.service.ts

              searchCountry(term: string): Observable&ltCountry[]> {
                const url = `${this.apiUrl}/name/${term}`;
                return this.http.get&ltCountry[]>(url).pipe(catchError(() => of([])));
              }

              searchRegion(term: string): Observable&ltCountry[]> {
                const url = `${this.apiUrl}/region/${term}`;
                return this.http.get&ltCountry[]>(url).pipe(catchError(() => of([])));
              }

              // by-country-page.component.ts

              searchByCountry( term: string ): void {
                this.countriesService.searchCountry( term )
                  .subscribe({
                    next: (response) => {
                      this.countries = response
                    }
                  })
              }

              // by-country-page.component.html
              
              &ltdiv class="row">
                &ltdiv class="col">
                  &ltshared-search-box
                    (onValue)="searchByCountry( $event )"
                    placeholder="Buscar por País">&lt/shared-search-box>
                &lt/div>
              &lt/div>
              
              &ltdiv class="row">
                &ltdiv class="col">
                  &lthr>
                  &ltcountries-table [countries]="countries">&lt/countries-table>
                &lt/div>
              &lt/div>
              
              // by-region-page.component.ts

              searchByRegion( term: string ): void {
                this.countriesService.searchRegion( term )
                  .subscribe({
                    next: (response) => {
                      this.countries = response
                    }
                  })
              }

              // by-region-page.component.html

              &ltdiv class="row">
                &ltdiv class="col">
                  &ltshared-search-box
                    (onValue)="searchByRegion( $event )"
                    placeholder="Buscar por Región">&lt/shared-search-box>
                &lt/div>
              &lt/div>
              
              &ltdiv class="row">
                &ltdiv class="col">
                  &lthr>
                  &ltcountries-table [countries]="countries">&lt/countries-table>
                &lt/div>
              &lt/div>
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 123 de 404 - Argumentos por URL - Página de País</h2>
            <pre class="prettyprint">
                    
              // countries.service.ts

              searchCountryByAlphaCode(code: string): Observable<Country[]> {
                const url = `${this.apiUrl}/alpha/${code}`;
                return this.http.get<Country[]>(url).pipe(catchError(() => of([])));
              }

              // country-page.component.ts

              ngOnInit(): void {
                this.activatedRoute.params.subscribe(({ id }) => {
                  console.log({ params: id })
                  this.countriesService.searchCountryByAlphaCode( id )
                    .subscribe({
                      next: (response) => {
                        console.log({ response })
                        this.country = response[0]
                        console.log({ country: this.country })
                      }
                    })
                })
              }

            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 124 de 404 - switchMap - Refactorización</h2>
            <pre class="prettyprint">
                    
              // country-page.component.ts

              ngOnInit(): void {
                this.activatedRoute.params
                  .pipe(
                    switchMap( ({ id }) => this.countriesService.searchCountryByAlphaCode( id ))
                  )
                  .subscribe( country => {
                    if (!country) {
                      return this.router.navigateByUrl('')
                    }
                    this.country = country
                    console.log({ country })
                    return
                  })
              }

              // countries.service.ts

              searchCountryByAlphaCode(code: string): Observable&ltCountry | null> {
                const url = `${this.apiUrl}/alpha/${code}`;
                return this.http.get&ltCountry[]>(url).pipe(
                  map( countries => countries.length > 0 ? countries[0] : null ),
                  catchError(() => of(null))
                );
              }
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 125 de 404 - Mostrar información del país</h2>
            <pre class="prettyprint">
                    
              &ltng-template #loading>
              &ltdiv class="alert alert-info text-center">Espere por favor&lt/div>
            &lt/ng-template>
            
            &ltdiv *ngIf="country; else loading">
              &ltdiv class="row">
                &ltdiv class="col-12">
                  &lth2>
                    País: &ltstrong>{{ country.name.common }}&lt/strong>
                  &lt/h2>
                  &lthr />
                &lt/div>
              &lt/div>
            
              &ltdiv class="row">
                &ltdiv class="col-4">
                  &lth3>Bandera&lt/h3>
                  &ltimg [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
                &lt/div>
                &ltdiv class="col">
                  &lth3>Información&lt/h3>
                  &ltul class="list-group">
                    &ltli class="list-group-item">
                      &ltstrong>Población: &lt/strong> {{ country.population | number }}
                    &lt/li>
                    &ltli class="list-group-item">
                      &ltstrong>Código: &lt/strong> {{ country.population | number }}
                    &lt/li>
                  &lt/ul>
                &lt/div>
              &lt/div>
            
              &ltdiv class="row mt-2">
                &ltdiv class="col">
                  &lth3>Traducciones&lt/h3>
            
                  &ltdiv class="d-flex flex-wrap">
            
            
                  &lt/div>
                &lt/div>
              &lt/div>
            &lt/div>
            
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 126 de 404 - Navegar hacia la página de pais</h2>
            <pre class="prettyprint">
                    
              &lttd>&lta [routerLink]="['/countries/by/', country.cca3]">Ver más&lt/a>&lt/td>
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 127 de 404 - Código fuente de la sección</h2>

            <a href="https://github.com/Klerith/angular-countries/tree/fin-seccion-9">https://github.com/Klerith/angular-countries/tree/fin-seccion-9</a>
            
          </article>
        </section>






















    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>