<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sección 26 de 29 - Sección 26: AuthApp - Backend + Angular App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Sección 26 de 29 - Sección 26: AuthApp - Backend + Angular App</h1>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a href="./index.html" class="list-group-item list-group-item-action">
                        Volver
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <section class="container">
            <h3>Sección 350 de 404 - Introducción a la sección</h3>

        </section>
        <hr>

        <section class="container">
            <h3>Sección 351 de 404 - Temas puntuales de la seccion</h3>

            <p>
                Esta sección principalmente busca conectar el Frontend (Angular) con el backend (Node+Nest) que hicimos
                en la sección anterior, pero puntualmente veremos:
            </p>


            <ul>
                <li>Functional Guards</li>
                <li>Manejo de autenticación</li>
                <li>Señales</li>
                <li>Effectos</li>
                <li>Manejo de errores</li>
                <li>SweetAlert</li>
                <li>Determinar estado de autenticación</li>
                <li>Manejo de JWTs</li>
                <li>Headers de petición Http</li>
                <li>Y más</li>
            </ul>

        </section>
        <hr>

        <section class="container">
            <h3>Sección 352 de 404 - Materiales de la clase</h3>
        </section>
        <hr>

        <section class="container">
            <h3>Sección 353 de 404 - Inicio de Aplicación - AuthApp</h3>
            <pre>
                > ng new frontend-con-angular
            </pre>
        </section>
        <hr>

        <section class="container">
            <h3>Sección 354 de 404 - Estructura del proyecto</h3>
            <pre class="prettyprint">
            
                > ng g m auth --routing
                > ng g m dashboard --routing
                > ng g c dashboard/layouts/dashboardLayout --skip-selector
                > ng g c auth/pages/loginPage --skip-selector
                > ng g c auth/pages/registerPage --skip-selector
                > ng g c auth/layouts/authLayout --skip-selector
                > ng g s auth/services/auth
            </pre>

            <pre class="prettyprint">
            
              const routes: Routes = [
                { path: 'dashboard', loadChildren: () => import('./dashboard/dashboard.module').then(m => m.DashboardModule) },
                { path: 'auth', loadChildren: () => import('./auth/auth.module').then(m => m.AuthModule) },
                { path: '**', redirectTo: '/auth' }
              ];
            </pre>

            <pre class="prettyprint">
            
                const routes: Routes = [
                    {
                    path: '',
                    component: DashboardLayoutComponent,
                    }
                ];
            </pre>

            <pre class="prettyprint">
            
              const routes: Routes = [
                {
                  path: '',
                  component: AuthLayoutComponent,
                  children: [
                    { path: 'login', component: LoginPageComponent },
                    { path: 'register', component: RegisterPageComponent },
                    { path: '**', redirectTo: 'login' },
                  ]
                }
              ];
            </pre>
        </section>
        <hr>

        <section class="container">
            <h3>Sección 355 de 404 - Diseño de la pantalla de login</h3>
            <p>
                <a href="https://gist.github.com/Klerith/df3ab2d62b5b20f11fd5db28b06ebb3b">https://gist.github.com/Klerith/df3ab2d62b5b20f11fd5db28b06ebb3b</a>
            </p>
        </section>
        <hr>

        <section class="container">
            <h3>Sección 356 de 404 - Formulario de inicio de sesión</h3>
            <pre class="prettyprint">
                    
                private fb = inject(FormBuilder)

                public myForm: FormGroup = this.fb.group({
                  email: ['', [Validators.required, Validators.email]],
                  password: ['', [Validators.required, Validators.minLength(6)]],
                })
              
                login() {
                  console.log( this.myForm.value )
                }
            </pre>

            <pre class="prettyprint">
                    
            &ltform class="login100-form"
                [formGroup]="myForm"
                (ngSubmit)="login()"
                  autocomplete="off">
            
                    &ltinput class="input100"
                           type="email"
                           formControlName="email"
                           placeholder="Correo electrónico">

                    &ltinput class="input100"
                           type="password"
                           formControlName="password"
                           placeholder="Ingrese su contraseña">

                        &ltbutton class="login100-form-btn"
                                [disabled]="myForm.invalid"
                                type="submit">
                            Login
                        &lt/button>

            &lt/form>
            
            </pre>
        </section>
        <hr>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 357 de 404 - AuthService</h2>
            <pre class="prettyprint">
                    
                private readonly baseUrl: string = environment.baseUrl
                private http = inject(HttpClient)
              
                private _currentUser = signal&ltUser|null>(null)
                private _authStatus = signal&ltAuthStatus>()
              
                constructor() { }
              
                login(email: string, password: string) {
                  return of(true)
                }
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 358 de 404 - Tipos e interfaces</h2>
            <pre class="prettyprint">
                    
                export interface User {
                    _id:      string;
                    email:    string;
                    name:     string;
                    isActive: boolean;
                    roles:    string[];
                  }
            </pre>

            <pre class="prettyprint">
                    
                export enum AuthStatus {
                    checking         = 'checking',
                    authenticated    = 'authenticated',
                    notAuthenticated = 'notAuthenticated',
                  }
            </pre>

            <pre class="prettyprint">
                    
                import { User } from './user.interface';

                export interface CheckTokenResponse {
                  user:  User;
                  token: string;
                }
            </pre>

            <pre class="prettyprint">
                    
                import { User } from './user.interface';

                export interface LoginResponse {
                  user:  User;
                  token: string;
                }
            </pre>

            <pre class="prettyprint">
                    
                export * from './auth-status.enum'
                export * from './login-response.interface';
                export * from './user.interface';
                export * from './check-token.response';
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 359 de 404 - Post - Login</h2>
            <pre class="prettyprint">
                    
                export class AuthService {

                    private readonly baseUrl: string = environment.baseUrl
                    private http = inject(HttpClient)
                  
                    private _currentUser = signal&ltUser|null>(null)
                    private _authStatus = signal&ltAuthStatus>( AuthStatus.checking )
                  
                    // Al mundo exterior
                    public currentUser = computed(() => this._currentUser())
                    public authStatus = computed(() => this._authStatus())
                  
                    constructor() { }
                  
                    login(email: string, password: string): Observable&ltboolean> {
                  
                      const url = `${ this.baseUrl }/auth/login`
                      const body = { email, password }
                  
                      return this.http.post&ltLoginResponse>( url, body )
                        .pipe(
                          tap( ({ user, token }) => {
                            this._currentUser.set( user )
                            this._authStatus.set( AuthStatus.authenticated )
                            localStorage.setItem('token', token)
                            console.log({ user, token })
                          }),
                          map( () => true )
                        )
                    }
                  }
            </pre>

            <pre class="prettyprint">
                    
                login() {
                    console.log( this.myForm.value )
                    const { email, password } = this.myForm.value
                    this.authService.login( email, password )
                      .subscribe( data => console.log({ data }))
                  }
            </pre>

            <p>En el backend en el main.ts</p>

            <pre class="prettyprint">
                    
                app.enableCors()
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 360 de 404 - Manejo de errores</h2>
            <pre class="prettyprint">
                    
                > npm install sweetalert2

            </pre>

            <pre class="prettyprint">
                    
                import Swal from 'sweetalert2'
            </pre>

            <pre class="prettyprint">
                    
                login() {
                    console.log( this.myForm.value )
                    const { email, password } = this.myForm.value
                    this.authService.login( email, password )
                      .subscribe({
                        next: data => console.log({ data }),
                        error: error => {
                          Swal.fire({
                            title: 'Error!',
                            text: error,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                          })
                          // console.log({ error })
                        },
                      })
                  }
            </pre>

            <pre class="prettyprint">
                    
                login(email: string, password: string): Observable&ltboolean> {

                    const url = `${ this.baseUrl }/auth/login`
                    const body = { email, password }
                
                    return this.http.post&ltLoginResponse>( url, body )
                      .pipe(
                        tap( ({ user, token }) => {
                          this._currentUser.set( user )
                          this._authStatus.set( AuthStatus.authenticated )
                          localStorage.setItem('token', token)
                          console.log({ user, token })
                        }),
                        map( () => true ),
                        catchError( error => throwError( () =>  error.error.message ))
                      )
                  }
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 361 de 404 - Function Guards</h2>
            <pre class="prettyprint">
                    
                > ng g guard auth/guards/isAuthenticated --functional
            </pre>

            <pre class="prettyprint">
                    
                {
                    path: 'dashboard',
                    canActivate: [ isAuthenticatedGuard ],
                    loadChildren: () => import('./dashboard/dashboard.module').then(m => m.DashboardModule)
                  },
            </pre>

            <pre class="prettyprint">
                    
                login() {
                    console.log( this.myForm.value )
                    const { email, password } = this.myForm.value
                    this.authService.login( email, password )
                      .subscribe({
                        next: data => this.router.navigateByUrl('/dashboard'),
            </pre>

            <pre class="prettyprint">
                    
                export class DashboardLayoutComponent {

                    private authService = inject( AuthService )
                    public user = computed(() => this.authService.currentUser())
                  
                    // get user() {
                    //   return this.authService.currentUser()
                    // }
                  }
            </pre>

            <pre class="prettyprint">
                    
                &lth1>Dashboard&lt/h1>
                &lthr>
                
                &lth3>User&lt/h3>
                &ltpre>{{ user() | json }}&lt/pre>
            </pre>

            <pre class="prettyprint">
                    
                export const isAuthenticatedGuard: CanActivateFn = (route, state) => {
                    console.log('isAuthenticatedGuard')
                    console.log({ route, state })
                    return true;
                  };
                  
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 362 de 404 - Implementar lógica del Functional Guard</h2>
            <pre class="prettyprint">
                    
                export const isAuthenticatedGuard: CanActivateFn = (route, state) => {

                    const authService = inject( AuthService )
                    const router = inject( Router )
                  
                    if ( authService.authStatus() === AuthStatus.authenticated ){
                      return true
                    }
                  
                    router.navigateByUrl('/auth/login')
                    return false
                  };
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 363 de 404 - Servicio para verificar el token de acceso</h2>
            <pre class="prettyprint">
                    
                checkAuthStatus(): Observable&ltboolean> {
                    const url = `${ this.baseUrl }/auth/check-token`
                    const token = localStorage.getItem('token')
                
                    if (!token) return of(false)
                
                    const headers = new HttpHeaders()
                      .set('Authorization', `Bearer ${ token }`)
                
                    return this.http.post&ltCheckTokenResponse>( url, { headers })
                    .pipe(
                      map( ({ user, token }) => {
                        this._currentUser.set( user )
                        this._authStatus.set( AuthStatus.authenticated )
                        localStorage.setItem('token', token)
                        return true
                      }),
                      catchError(() => {
                        this._authStatus.set(AuthStatus.notAuthenticated)
                        return of(false)
                      })
                    )
                  }
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 364 de 404 - No te repitas a ti mismo - DRY</h2>
            <pre class="prettyprint">
                    
                private setAuthentication(user: User, token: string): boolean {
                    this._currentUser.set( user )
                    this._authStatus.set( AuthStatus.authenticated )
                    localStorage.setItem('token', token)
                    return true
                  }
                
                  login(email: string, password: string): Observable&ltboolean> {
                
                    const url = `${ this.baseUrl }/auth/login`
                    const body = { email, password }
                
                    return this.http.post&ltLoginResponse>( url, body )
                      .pipe(
                        map( ({ user, token }) => this.setAuthentication( user, token )),
                        catchError( error => throwError( () =>  error.error.message ))
                      )
                  }
                
                  checkAuthStatus(): Observable&ltboolean> {
                    const url = `${ this.baseUrl }/auth/check-token`
                    const token = localStorage.getItem('token')
                
                    if (!token) return of(false)
                
                    const headers = new HttpHeaders()
                      .set('Authorization', `Bearer ${ token }`)
                
                    return this.http.post&ltCheckTokenResponse>( url, { headers })
                    .pipe(
                      map( ({ user, token }) => this.setAuthentication( user, token )),
                      catchError(() => {
                        this._authStatus.set(AuthStatus.notAuthenticated)
                        return of(false)
                      })
                    )
                  }
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 365 de 404 - Reaccionar al cambio de autenticacion</h2>
            <pre class="prettyprint">
                    
                export class AppComponent {
                    private authService = inject(AuthService);
                    private router = inject(Router);
                  
                    public finishedAuthCheck = computed&ltboolean>(() => {
                      if (this.authService.authStatus() === AuthStatus.checking) {
                        return false;
                      }
                  
                      return true;
                    });
                  
                    public authStatusChangeEffect = effect(() => {
                      switch (this.authService.authStatus()) {
                        case AuthStatus.checking:
                          return;
                  
                        case AuthStatus.authenticated:
                          this.router.navigateByUrl('/dashboard');
                          return;
                  
                        case AuthStatus.notAuthenticated:
                          this.router.navigateByUrl('/auth/login');
                          return;
                      }
                    });
                  }
            </pre>

            <pre class="prettyprint">
                    
                &lth1 *ngIf="!finishedAuthCheck()">Loading&lt/h1>

                &ltrouter-outlet *ngIf="finishedAuthCheck()">&lt/router-outlet>
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 366 de 404 - inNotAuthenticatedGuard</h2>
            <pre class="prettyprint">
                    
                > ng g guard auth/guards/isNotAuthenticated --functional
            </pre>

            <pre class="prettyprint">
                    
                export const isNotAuthenticatedGuard: CanActivateFn = (route, state) => {

                    const authService = inject( AuthService )
                    const router = inject( Router )
                
                    if ( authService.authStatus() === AuthStatus.notAuthenticated ){
                      return true
                    }
                
                    router.navigateByUrl('/dashboard')
                    return false
                };
            </pre>

            <pre class="prettyprint">
                    
                {
                    path: 'auth',
                    canActivate: [ isNotAuthenticatedGuard ],
                    loadChildren: () => import('./auth/auth.module').then(m => m.AuthModule)
                  },
            </pre>
          </article>
        </section>

        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 367 de 404 - Logout</h2>
            <pre class="prettyprint">
                    
                checkAuthStatus():Observable&ltboolean> {

                    ...
                
                    if ( !token ) {
                      this.logout();
                      return of(false);
                    }
                
                    ...
                
                  }
                
                  logout() {
                    localStorage.removeItem('token');
                    this._currentUser.set(null);
                    this._authStatus.set( AuthStatus.notAuthenticated );
                  }
            </pre>
          </article>
        </section>

















        <hr>
        
        <section class="row">
          <article class="col">
            <h2>Sección 368 de 404 - Codigo Fuente de la Sección</h2>
            <p>
                <a href="https://github.com/Klerith/angular-nest-auth-app/tree/fin-seccion-26">Frontend</a>
                - - -
                <a href="https://github.com/Klerith/angular-nest-backend/tree/fin-seccion-26">Backend</a>
            </p>
          </article>
        </section>

























    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>